@import '~office-ui-fabric-react/dist/sass/References.scss';

.grid {
  @include ms-Grid;
}

.gridRow {
  @include ms-Grid-row;
}

.firstcolumn {
  @include ms-Grid-col;
  @include ms-lg2;
  @include ms-sm6;
  @include ms-md4;
  color: white;
}

.secondColumn {
  @include ms-Grid-col;
  @include ms-lg10;
  @include ms-sm6;
  @include ms-md8;
  color: white;
  padding: 5px !important;
}

.button {
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.demospfxwebpart {
  :global{
    .form-validation{
      display:none;
      margin:5px;
    }
  }
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: white;
  background-color: black;

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}